.contacts_container{
    margin-top: -140px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
  padding: 0;
  margin-bottom: 120px;
}

.item {
  flex: 1 1 250px;
  max-width: 90%;
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s ease, box-shadow 0.3s ease;

  cursor: pointer;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
}

.item p {
  font-size: 18px;
  margin-top: 20px;
  color: #333;
}

.item_title{
    font-weight: 600;
}

.tel, .email, .address {
  display: block;
  margin: 0 auto;
}


.info {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
}

.details {
  flex: 1 1 300px;
  font-size: 16px;
  line-height: 1.6;
}

.map {
  width: 100vw;
  height: 600px;
  margin-top: 40px;
  margin-bottom: 80px;
  position: relative;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

@media screen and (max-width: 1140px){
.list {
  gap: 20px;
}
.item {
  max-width: 100%;
  padding: 20px 20px;
}
}

@media screen and (max-width: 1024px){
.list {
  gap: 40px;
}
.item {
  flex: 100%;
  max-width: 100%;
}
}

@media screen and (max-width: 764px){
.title {
  font-size: 26px;
}
}

@media screen and (max-width: 360px){
  .title {
  font-size: 22px;
}
.item p {
  font-size: 16px;
}
}
