.production_container {
margin-top: -140px;
}

.hero {
  text-align: center;
  margin-bottom: 3rem;
}

.bannerImage {
  margin-top: 2rem;
  border-radius: 12px;
  overflow: hidden;
}

.section {
  margin-bottom: 4rem;
}

.section h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #2c3e50;
}

.steps {
  list-style: decimal;
  padding-left: 1.5rem;
  line-height: 1.8;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.gallery img {
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.processImages {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.processChart {
  text-align: center;
  margin-top: 1rem;
}

.videoWrapper {
  width: auto;
  height: auto; 
}

.video {
  width: 40%;
  height: 600px;
  object-fit: cover;
}

.img{
  background-color: darkgray;
}